/* fundo #0991a3
resultado #574D01
caixa #A3931A
botao amarelo #0E4E57
botao c #A31A60 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: #0991a3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    width: 300px;
    height: 500px;
    box-shadow: 4px 4px 30px #ffffff3b;
    border-radius: 15px;
    background: #A3931A;
    overflow: hidden;
}
form input{
    width: 100%;
    height: 145px;
    border: none;
    border-radius: 15px;
    font-size: 2rem;
    padding: 1rem;
    color: #fff;
    background: #7e6f01;
    text-align: right;
    pointer-events: none;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
button{
    flex: 0 0 22%;
    margin: 5px 0;
    border: 1px solid #574D01;
    width: 60px;
    height: 52px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.btn-1{
    background: #0E4E57;
    color: #fff;
}
.btn-grey{
    background: #999999;
    color: #fff;
}
.btn-clear, .btn-E{
    background: #0a3035;
    color: #fff;
}